body {
  font-family: Arial, sans-serif;
  background-color: rgb(228, 223, 216);
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #2539cd;
  color: white;
  text-align: center;
  padding: 1em 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  /* Tus estilos actuales para el modal-content */
  background-color: #bac7cf;
  margin: 15% auto;
  padding: 20px;
  border-radius: 2%;
  border: 1px solid #060505;
  width: 80%;
  max-width: 250px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se reposicionen si es necesario en pantallas pequeñas */
  flex-direction: column;
}
.modal-content label {
  margin: 5px 0; /* Ajusta el margen para reducir espacio */
}

.modal-content select,
.modal-content input {
  height: 30px; /* Ajusta la altura de los campos de entrada y select */
  padding: 5px; /* Reduce el padding para que queden más compactos */
}

.modal-content button {
  height: 30px; /* Ajusta la altura del botón */
}

#productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 0; /* Cambiar a 0 para evitar problemas de márgenes */
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  flex: 1 1 calc(18% - 20px); /* Permite que cada producto se ajuste automáticamente */
  max-width: 300px; /* Limita el ancho máximo para que no se estiren demasiado */
  height: 300px; /* Alto fijo */
  text-align: center;
  background-color: white;
  display: flex; /* Facilitando la alineación del contenido */
  flex-direction: column; /* Organizando contenido verticalmente */
  justify-content: center; /* Centrando contenido verticalmente */
  align-items: center; /* Centrando contenido horizontalmente */
}

.product img {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  max-height: 150px; /* Establece una altura máxima para asegurarse de que no desborde el contenedor */
  object-fit: contain; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
  border-radius: 5px 5px 0 0; /* Mantiene el borde redondeado en la parte superior */
}

.product h3,
.product p {
  margin: 5px 0; /* Ajustando márgenes */
}

button {
  background-color: #687a68;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.close {
  color: #2e2b2b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-links {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Estilos generales para la barra de navegación */
.nav-links {
  display: flex;
  justify-content: center; /* Centra los enlaces en la barra */
  margin-left: 50px;
  flex-wrap: wrap; /* Permite que los enlaces se envuelvan si no hay suficiente espacio */
}

.nav-links a {
  margin: 0 15px; /* Espaciado entre los enlaces */
  text-decoration: none;
  color: white;
  font-weight: bold; /* Hace que los enlaces se destaquen */
  transition: color 0.3s; /* Animación suave para el cambio de color */
}

.nav-links a:hover {
  color: #d1d1d1; /* Cambia el color al pasar el mouse */
}

/* Estilo de iconos */
.iconos {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.filter-icon {
  width: 20px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}
.filters-button {
  background-color: #4b666e; /* Cambia a tu color deseado */
  border: none; /* Sin borde, si lo deseas */
  padding: 10px; /* Espacio interior */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  border-radius: 50%; /* Hace que el botón sea redondo */
  width: 30px; /* Ancho fijo para que sea un círculo */
  height: 30px; /* Altura acorde para que sea un círculo */
  display: flex; /* Usado para centrar el contenido */
  align-items: center; /* Centra el icono verticalmente */
  justify-content: center; /* Centra el icono horizontalmente */
}
.icon {
  display: flex; /* Usado para centrar el contenido */
  align-items: center; /* Centra el icono verticalmente */
  justify-content: center; /* Centra el icono horizontalmente */
  width: 30px; /* Ancho para un círculo */
  height: 30px; /* Altura para un círculo */
  background-color: #4b666e; /* Color de fondo, personaliza si es necesario */
  color: white; /* Color del icono */
  border-radius: 50%; /* Hace que los iconos sean redondos */
  text-decoration: none; /* Quita subrayado del enlace */
  margin: 5px; /* Espacio entre iconos */
}

.icon:hover {
  background-color: #45a049; /* Cambia el color de fondo al pasar el mouse */
}

.buy-link {
  display: inline-block;
  margin-top: 10px; /* Espacio encima del enlace */
  text-decoration: none; /* Quitar subrayado por defecto */
  color: #4b666e; /* Color del enlace */
  font-weight: bold; /* Hacer el texto en negrita */
  border: 1px solid #4b666e; /* Borde alrededor del enlace */
  padding: 5px 10px; /* Espaciado interior */
  border-radius: 5px; /* Esquinas redondeadas */
  transition: background-color 0.3s; /* Transición suave para el efecto hover */
}

.buy-link:hover {
  background-color: #4b666e; /* Cambiar color de fondo al pasar el mouse */
  color: white; /* Cambiar color del texto al pasar el mouse */
}

footer {
  background-color: #2539cd; /* Mismo color que el encabezado */
  color: white;
  text-align: center;
  padding: 2em 0; /* Espaciado superior e inferior */
  display: flex;
  flex-direction: column; /* Inicialmente en columna */
  align-items: center; /* Centra el contenido */
}

footer div {
  margin: 10px 0; /* Espaciado entre los divs */
}

@media (min-width: 768px) {
  footer {
    flex-direction: row; /* Cambiar a fila en pantallas más grandes */
    justify-content: space-around; /* Espaciado uniforme entre columnas */
  }

  footer div {
    flex: 1; /* Cada div ocupa el mismo espacio */
    text-align: center; /* Alineación a la izquierda */
    padding: 0 20px; /* Padding lateral para separación */
  }
}

@media (max-width: 768px) {
  .product {
    flex: 1 1 calc(45% - 20px); /* Dos productos por fila en tablets */
  }
}

@media (max-width: 480px) {
  .product {
    flex: 1 1 100%; /* Un producto por fila en móviles */
  }
}

.menu-icon {
  display: none; /* Oculta el icono del menú por defecto */
}

@media (max-width: 650px) {
  .menu-icon {
    display: flex; /* Muestra el icono del menú en pantallas pequeñas */
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 24px; /* Tamaño del icono */
    color: white; /* Color del icono */
    margin-left: auto; /* Alinea el icono a la derecha */
    padding: 0 20px; /* Espaciado a los lados del icono */
  }

  .nav-links {
    display: none; /* Oculta los enlaces inicialmente en móviles */
    flex-direction: column; /* Apila los enlaces en columna */
    background-color: #2539cd; /* Aplica el fondo igual al header */
    position: absolute;
    top: 60px; /* Ajusta según sea el tamaño de tu header */
    left: 0;
    right: 0;
    z-index: 1; /* Asegura que el menú esté por encima del contenido */
  }

  .nav-links.active {
    display: flex; /* Muestra los enlaces cuando están activos */
  }

  .nav-links a {
    margin: 10px 0; /* Espaciado entre enlaces en columna */
  }
}

@media (max-width: 520px) {
  .modal-content {
    flex-direction: column; /* Cambia a disposición en columna */
    align-items: center; /* Alinea los elementos en el centro */
  }

  .modal-content label,
  .modal-content select,
  .modal-content input,
  .modal-content button {
    width: 100%; /* Cada elemento ocupará todo el ancho disponible */
    margin: 10px 0; /* Espacio vertical entre los elementos */
  }
}
